body{
    font-family:Arial;
    max-width:900px;
    margin:auto;
    padding:30px;
}

.card{
    border:1px solid #ddd;
    padding:15px;
    margin:15px;
    border-radius:8px;
}

a{
    text-decoration:none;
}
